<h3>History of <u><a href="/model/<%= model %>"><%= model %></a></u> at <u><a href="/store/<%= store %>"><%= store %></a></u></h3>


<%= line_chart history, points: false, xtitle: 'date/hour', ytitle: 'stock level' %>
